body {
  background: #f7f7f7;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  margin-top: 60px;
  display: grid;
  justify-items: center;
  gap: 60px;
}
img {
  max-width: 100%;
  display: block;
}
p,
h1,
h2,
h3 {
  margin: 0px;
}
h1 {
  text-align: center;
  font-family: Arial;
  padding: 20px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}
.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.head a {
  background: #ffff;
  padding: 15px 20px;
  border-radius: 4px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
.txt {
  display: grid;
  background-color: #ffff;
  padding: 40px;
  gap: 40px;
  text-align: right;
  position: relative;
  justify-items: end;
  align-content: center;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin: 60px auto 60px auto;
  max-width: 85%;
}
.barrinha {
  width: 70px;
  height: 4px;
  background: #e21;
  position: absolute;
  top: 30px;
  right: -30px;
}
.btn {
  padding: 15px 25px;
  background: #e21;
  color: #ffff;
  text-decoration: none;
  border-radius: 4px;
}
.sub {
  text-align: center;
  font-size: 65px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
  padding: 45px;
  margin-top: 60px;
  align-self: center;
}
.vantagens {
  background: #ffff;
  padding: 60px;
}
.vantagens-item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}
.vantagens-item p {
  grid-column: 2;
}
.rodape {
  font-size: 15px;
  line-height: 1.5;
}
